/* all css */

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}

/* container part */
.container1 , .container2 , .container3{
    /* border: 1px solid red; */
    height: 550px;
    background-image: url("../img/top-banner.png");
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.container2{
    background-image: url(../img/dream-bg.png);
    background-position: right;
}
.container3{
    background: none;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding-left: 2%;
}
.half-width img{
    width: 500px;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(90deg , rgb(255, 118, 152) , tomato);
    padding: 10px 20px ;    
    border-radius: 5px;
}

.container3 h1{
    text-align: center;
    /* background-color: aqua; */
    padding: 50px 0;
}